<ng-container *ngIf="user">
  <h2>{{user.name}} - [{{user.email}}]</h2>
  <div>
    <h3>Address</h3>
    <p>{{user.address?.street}}</p>
    <p>{{user.address?.suite}}</p>
    <p>{{user.address?.city}}</p>
    <p>{{user.address?.zipcode}}</p>
  </div>
</ng-container>