<form (ngSubmit)="doSubmit()">
    <label for="username">Username</label>
    <input type="text" placeholder="username" id="username" name="username" [(ngModel)]="credentials.username">

    <label for="password">Password</label>
    <input type="password" id="password" name="password" [(ngModel)]="credentials.password">

    <button>Submit</button>

    <p><a routerLink="/register">Register Here</a></p>
</form>