<form (ngSubmit)="doLogin()">
  <input type="text" placeholder="Username" [(ngModel)]="user" name="username">
  <input type="password" placeholder="Password" [(ngModel)]="pass"name="password">
  <input type="submit">
</form>

<ul>
  <li><a routerLink="/register">Register</a></li>
</ul>

<router-outlet></router-outlet>