form {
    width: 400px;
    margin: 0 auto;
    height: 400px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.flex-container {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    margin: 1em;

}

input, select {
    flex: 0 0 50%;
}

label {
    flex: 1 0 auto;
    text-align: right;
    margin-right: 0.5em;
}

button {
    background: none;
    border: 1px solid grey;
    text-transform: uppercase;
}