<form (ngSubmit)="doSubmit()">
    
    <label for="firstname">Firstname</label>
    <input type="text" id="firstname" name="firstname" [(ngModel)]="newUser.firstname">
    
    <label for="surname">Surname</label>
    <input type="text" id="surname" name="surname" [(ngModel)]="newUser.surname">
    
    <label for="email">email</label>
    <input type="email" id="email" name="email" [(ngModel)]="newUser.email">
    
    <label for="username">Username</label>
    <input type="text" placeholder="username" id="username" name="username" [(ngModel)]="newUser.username">

    <label for="password">Password</label>
    <input type="password" id="password" name="password" [(ngModel)]="newUser.password">
    
    <button>Submit</button>
</form>