<!--The content below is only a placeholder and can be replaced.-->
<header>
  <nav>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/users">User</a></li>
      </ul>
  </nav>
</header>

<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h2 *ngIf="displayGreeting">Hello {{ user.firstname }} {{ user.surname }}</h2>
  <p>{{ date | date: 'h:mm:ss' }}</p>
  <button (click)="displayGreeting = !displayGreeting">Toggle</button>
  
  <router-outlet></router-outlet>

</div>
