<header>
    <img src="../assets/images/logo.svg" alt="QA Mission: Transforming performance through learning">

    <nav>
        <ul>
            <li><a routerLink="/courses">Courses</a></li>
            <li><a href="">Instructors</a></li>
            <li><a href="">Locations</a></li>
            <li><a href="">Contact Us</a></li>
            <li><a routerLink="/login">Login</a></li>
        </ul>
    </nav>
</header>

<main>
    <router-outlet></router-outlet>
</main>

<footer>
    &copy; 1996-2017 QA Limited
</footer>