header {
    background-color: rgb(0, 60, 112);
    color: white;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    height: 5em;
    padding: 0 2em;
}

header img {
    height: 3em;

}

header nav {
    flex: 1 1 auto;
    text-transform: uppercase;
}

header ul {
    list-style: none;
    padding: 0;
    text-align: right;
}

nav a, nav a:visited, nav a:active {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

nav li {
    display: inline;
}

main {
    flex: 1 0 auto;
}

footer {
    background-color: rgb(0, 60, 112);
    color: white;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    height: 5em;
    clear: both;
}



