<h1>Courses available at QA</h1>

<section class="qa-courses">
  <ul *ngFor="let course of courses">
    <li>{{course.title}}</li>
    <li>{{course.code}}</li>
    <li>{{course.delivery}}</li>
    <li>{{course.days}} days</li>
  </ul>
</section>

<a href="api/courses/download">Download JSON</a>