<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Company name</th>
  </tr>
  <tr *ngFor="let user of users">
    <td><a [routerLink]="['/users',{outlets: {viewuser: ['viewuser', user.id]}}]">{{user.name}}</a></td>
    <td>{{user.email}}</td>
    <td>{{user.company?.name}}</td>
  </tr>
</table>
<p>
  <a routerLink="/users/adduser">Add user</a>
</p>
<router-outlet></router-outlet>
<router-outlet name="viewuser"></router-outlet>