<form (ngSubmit)="doRegister()">
  <input type="text" plaholder="Email address" [(ngModel)]="newUser.email" name="email">
  <input type="text" placeholder="Username" [(ngModel)]="newUser.username" name="username">
  <input type="password" placeholder="Password" [(ngModel)]="newUser.password" name="password">
  <button type="submit">Register</button>
</form>