<form>
    <div class="flex-container">
        <label for="title">Title</label>
        <input type="text" name="title" id="title">
    </div>

    <div class="flex-container">
        <label for="code">Code</label>
        <input type="text" name="code" id="code">
    </div>

    <div class="flex-container">
        <label for="delivery">Delivery</label>
        <select name="delivery" id="delivery">
            <option value="classroom">Classroom</option>
            <option value="Remote">Remote</option>
        </select>
    </div>

    <div class="flex-container">
        <label for="days">Days</label>
        <input type="number" name="days" id="days">
    </div>

    <div class="flex-container">
        <button>Submit</button>
    </div>
</form>