@media only screen and (min-width: 768px) {
    nav li {
        display: inline-block;
        width: 45%;
    }
}

@media only screen and (min-width: 1026px) {
    
    header {
        display: flex;
        flex-flow: row wrap;
    }

    img {
        flex: 0 0 30%;
        align-self: center;
    }

    nav {
        flex: 0 0 70%;
    }

    nav ul>li {
        width: auto;
    }

    h1 {
        flex: 1 0 auto;
    }
    
    main > article.grid {
    background-color: #f1f1f1;
    float: left;
    margin: 1%;
    width: 48%;
    height: 300px;
    overflow-y: scroll;
}
}